@use '@/styles/helpers/rem-calc' as fn;
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rancho&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
  font-family: 'Google Sans Code', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: fn.rem-calc(21);
  font-weight: 700;
  line-height: 120%;
  margin-bottom: fn.rem-calc(7);
}

p {
  font-size: fn.rem-calc(16);
  font-weight: 400;

  color: var(--color-gray);
  line-height: 120%;
}
