:root {
  --color-primary: #ff6200;
  --color-white: #ffffff;
  --color-black: #000;
  --color-gray: #4c4c4c;
  --color-gray-010: #cfd1d3;
  
  --color-red: #e3002d;
  --color-red-010: #721c24;
  --color-red-020: #f8d7da;

  --color-green: #d4edda;
  --color-green-010: #155724;
  --color-green-020: #d4edda;
  
  --color-blue-action: #000066;
}
